<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link th:href="@{/assets/dist/css/bootstrap.min.css}" rel="stylesheet">
<!--  <link rel="stylesheet" th:href="@{/assets/style.css}">-->
<!--  <script src="/assets/js/color-modes.js"></script>-->
  <script src="/assets/dist/js/bootstrap.bundle.min.js" defer></script>
  <title th:text="${title == null ? 'Employee CRUD Demo' : 'sdf'}"></title>
</head>
<body>

</body>
</html>