<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <title></title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/about}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/contact}">Contact</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
          <a class="nav-link" th:href="@{/employees}">Employee</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <!-- If the user is not authenticated, display login and sign-up buttons -->
<!--        <div th:unless="${#authorization.expression('isAuthenticated()')}">-->
        <div sec:authorize="!isAuthenticated()">
          <a th:href="@{/signup}" class="btn btn-info">Sign up</a>
          <a th:href="@{/login}" class="btn btn-primary">Login</a>
        </div>
        <!-- Check if the user is authenticated, display logout button -->
<!--        <div th:if="${#authorization.expression('isAuthenticated()')}">-->
        <div sec:authorize="isAuthenticated()">
          <form th:action="@{/logout}" method="post">
            <input type="submit" th:value="Logout" class="btn btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
</body>
</html>