<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/common.html :: head}">
</head>
<body>
<div class="container">
  <div th:replace="~{fragments/header :: navbar}"></div>

  <h1>Create New Employee</h1>
  <hr>
  <form th:action="@{/employees/save}" th:object="${employee}" method="post">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" th:field="*{firstName}">
      <span th:if="${#fields.hasErrors('firstName')}"
            th:errors="*{firstName}"
            class="text-danger"></span>
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" th:field="*{lastName}">
      <span th:if="${#fields.hasErrors('lastName')}"
            th:errors="*{lastName}"
            class="text-danger"></span>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email" th:field="*{email}">
      <span th:if="${#fields.hasErrors('email')}"
            th:errors="*{email}"
            class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a th:href="@{/employees}" class="btn btn-info">Back to List</a>
  </form>

  <div th:replace="~{fragments/footer.html :: footer}"></div>
</div>
</body>
</html>